body {
  background: #0f0f0f;
  color: white;
  font-family: Arial;
  text-align: center;
}

#chat {
  height: 320px;
  background: #1c1c1c;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.msg {
  max-width: 75%;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 15px;
}

.me {
  align-self: flex-end;
  background: #4caf50;
  color: black;
}

.stranger {
  align-self: flex-start;
  background: #333;
}

#typing {
  font-size: 13px;
  color: #aaa;
  height: 18px;
}
